*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.body{
    text-align: center;
    font-family: sans-serif;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background: rgb(159, 168, 247);
    position: fixed;
}
.navbar{
    display: flex;
    margin-right: 5px;
    justify-content: space-around;
    width: 90%;
}
.header-shadow
{
    width: 100%;
    height: 60px;
}
.logo-container{
    margin-left: 30px;
    width: auto;
    height: auto;
}
.logo-img
{
    width: 30px;
    height: auto;
}
.logo a {
    text-decoration: none;
    color: yellow;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a {
    display: block;
    padding: 20px 20px;
    color: rgb(247, 247, 84);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.nav a:hover {
    background-color: rgb(73, 73, 233);
}
.header {
    display: flex;
    justify-self: center;
    align-items: center;
}

.header {
    height: 30vh !important;
    background: url(./img_files/boca\ -\ copia.png) no-repeat center;
    background-size: cover;
}
.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
p {
    margin-bottom: 40px;
    font-size: 18px;
    color: blue;
}
.button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 10px;
    border: 2px solid rgb(226, 226, 83);
    text-decoration: none;
    background-color: #4c6af083;
    border-radius: 10px;
}
.button:hover{
    background: none;
    background-color: rgb(243, 243, 57);
}
.button-home {
    display: flex;
}
.button-home a {
    margin: 0 10px;
}
.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



